/* -------------------------------------------------------------------------------- /
  Zodiac framework
  https://www.hembarevskyy.com/projects/zodiac/
  Design kit for Osaka template
/ -------------------------------------------------------------------------------- */


.jtpl-topbar-section{
  max-width: 100%;
}
.jtpl-title {
  margin: 85px auto 50vh;
}

.jtpl-logo,.jtpl-navigation {
  padding-left:20px;
  padding-right: 20px;
}
.jtpl-section-aside, .jtpl-section-main {
  max-width: 1200px;
}

.jtpl-navigation {
  box-shadow: none;
  padding:20px 0;
}

.jtpl-navigation li.jmd-nav__list-item-0> a {
  background:transparent!important;
  padding: 2px 0!important;
  margin: 5px 20px!important;
}

.jtpl-navigation li.jmd-nav__list-item-1> a,.jtpl-navigation li.jmd-nav__list-item-2> a {
  padding: 10px!important;
  margin: 0!important;
  border-color:transparent!important;
}

.jtpl-navigation .j-nav-variant-nested * {
  box-sizing: border-box;
}

.jtpl-navigation .j-nav-variant-nested a {
  padding: 0.2em 0;
  position: relative;
}

.jtpl-navigation .j-nav-variant-nested a:before,
.jtpl-navigation .j-nav-variant-nested a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.jtpl-navigation .j-nav-variant-nested a:before {
  bottom: 0;
  display: block;
  height: 1px;
  width: 0%;
  content: "";
  background-color: currentColor;
}

.jtpl-navigation .j-nav-variant-nested ul li ul a:before {
  height: 0px;
    
}

.jtpl-navigation .j-nav-variant-nested a:after {
  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  content: attr(data-hover);
  color: currentColor;
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}

.jtpl-navigation .j-nav-variant-nested a:hover:before,
.jtpl-navigation .j-nav-variant-nested .current a:before,
.jtpl-navigation .j-nav-variant-nested ul li.cc-nav-current>a:before,
.jtpl-navigation .j-nav-variant-nested ul li.cc-nav-parent>a:before {
  opacity: 1;
  width: 100%;
}

.jtpl-navigation .j-nav-variant-nested a:hover:after,
.jtpl-navigation .j-nav-variant-nested .current a:after {
  max-width: 100%;
}



.j-website-title-content:not(:empty):before,.j-website-title-content:not(:empty):after {
  background: none;
}

.jtpl-navigation .j-nav-level-0>li>a:link, .jtpl-navigation .j-nav-level-0>li>a:visited {
  border-top-width: 0;
}

.jtpl-background-area {
  height: 70vh;
}

.jtpl-background-area:after {
  content:'';
  display:block;
  background: rgba(0,0,0,0.4);
  position:absolute;
  top:0;
  left:0;
  margin-bottom:0;
  width:100%;
  height:100%;
}

