
/* -------------------------------------------------------------------------------- /
  Zodiac framework
  https://www.hembarevskyy.com/projects/zodiac/
  Design kit for Rome template
/ -------------------------------------------------------------------------------- */


.jtpl-navigation__inner li.jmd-nav__list-item-0 {
  margin:5px 0;
  padding:0;
}
 .jtpl-navigation__inner li.jmd-nav__list-item-0> a {
  background:transparent!important;
  padding: 0!important;
  margin: 3px 20px!important;
}

.jtpl-navigation__inner .j-nav-variant-nested * {
  box-sizing: border-box;
}

.jtpl-navigation__inner .j-nav-variant-nested a {
  padding: 0.2em 0;
  position: relative;
}

.jtpl-navigation__inner .j-nav-variant-nested a:before,
.jtpl-navigation__inner .j-nav-variant-nested a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.jtpl-navigation__inner .j-nav-variant-nested a:before {
  bottom: 0;
  display: block;
  height: 2px;
  width: 0%;
  content: "";
  background-color: currentColor;
}

.jtpl-navigation__inner .j-nav-variant-nested ul li ul a:before {
  height: 0px;
    
}

.jtpl-navigation__inner .j-nav-variant-nested a:after {
  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  content: attr(data-hover);
  color: currentColor;
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}

.jtpl-navigation__inner .j-nav-variant-nested a:hover:before,
.jtpl-navigation__inner .j-nav-variant-nested .current a:before,
.jtpl-navigation__inner .j-nav-variant-nested ul li.cc-nav-current>a:before,
.jtpl-navigation__inner .j-nav-variant-nested ul li.cc-nav-parent>a:before {
  opacity: 1;
  width: 100%;
}

.jtpl-navigation__inner .j-nav-variant-nested a:hover:after,
.jtpl-navigation__inner .j-nav-variant-nested .current a:after {
  max-width: 100%;
}


#cc-inner .jtpl-navigation__inner  .jtpl-navigation .j-nav-level-2 {
  left: -100%!important;
}

.jtpl-breadcrumb, .jtpl-content, .jtpl-footer__inner, .jtpl-header__inner, .jtpl-sidebar__inner  {
  max-width: 1170px;
}
